.brands {
  padding: 80px 0;
  background-color: #000000;
}

.brands__content {
  max-width: 1760px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
}

.brands__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  height: auto;
}

.brands__icon {
  width: 150px;
  height: 140px;
  object-fit: contain;
}

.brands__item::before {
  content: "";
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background-image: url("../icons/span.qodef-m-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.15;
}

.brands__name {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--text);
  padding-right: 50px;
  margin-top: 6px;
}

@media (max-width: 968px) {
  .brands__content {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}

@media (max-width: 568px) {
  .brands__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
