.gallery {
  padding: 0;
  background-color: #0b1218;
  overflow: hidden;
}

.gallery__container {
  overflow: hidden;
  width: 100%;
}

.gallery__track {
  display: flex;
  gap: 20px;
}

.gallery__card {
  flex: 1;
  height: 600px;
  overflow: hidden;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
