.join {
  position: relative;
  width: 100%;
  height: 900px;
}

.join__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.join__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.join__content {
  position: absolute;
  bottom: -75px;
  left: 49%;
  transform: translateX(-50%);
  z-index: 2;
}

.join__title {
  font-size: 160px;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--text);
  line-height: 1;
  margin: 0;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.join__title-arrow {
  width: 127px;
  height: 100px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

@media (max-width: 1200px) {
  .join__title {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .join {
    height: 600px;
  }

  .join__content {
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
  }

  .join__title {
    font-size: 60px;
    gap: 15px;
  }

  .join__title-arrow {
    width: 50px;
    height: 50px;
  }
}
